body {
	font-family: 'Microsoft YaHei', 'Hiragino Sans GB', Helvetica, Arial,
		'Lucida Grande', sans-serif
}

input::-webkit-input-placeholder {
	font-size: 13px;
	color: silver
}

input:-moz-placeholder {
	font-size: 13px;
	color: silver
}

input::-moz-placeholder {
	font-size: 13px;
	color: silver
}

input:-ms-input-placeholder {
	font-size: 13px;
	color: silver
}

#no-data {
	width: 400px;
	height: 400px;
	margin: 0 auto;
	text-align: center;
	padding: 60px 0
}

#no-data img {
	width: 300px;
	height: 300px
}

#no-data p {
	font-size: 16px;
	color: silver;
	line-height: 18px;
	padding-top: 10px
}

.jll-wrap {
	padding-top:40px;
	padding-bottom:40px;
	background: #F7F9FA;
	width: 100%;
	overflow: hidden;
	position: relative;
	min-width: 1230px
}

.jll-wrap .top {
	width: 1200px;
	height: 60px;
	line-height: 80px;
	font-size: 14px;
	margin: 0 auto;
	color: #4A4A4A
}

.jll-wrap .top a {
	font-size: 14px;
	color: #4a4a4a;
	text-decoration: none
}

.jll-wrap .top a:hover {
	color: #00C356
}

.jll-wrap .content {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden
}

.jll-wrap .content .left {
	width: 880px;
	float: left;
	background: #fff
}

.jll-wrap .content .left .position {
	font-size: 14px
}

.jll-wrap .content .left .position .position-area-content {
	width: 840px;
	color: #999;
	padding-top: 20px;
	margin-left: 30px;
	margin-right: 120px;
	line-height: 20px;
	overflow: hidden
}

.jll-wrap .content .left .position .position-area-content span {
	width: 75px;
	height: 35px;
	float: left
}

.jll-wrap .content .left .position .position-area-content span .position-each
	{
	font-size: 14px;
	color: #999;
	cursor: pointer;
	text-decoration: none
}

.jll-wrap .content .left .position .position-area-content span .position-each:hover
	{
	color: #00C356;
	text-decoration: none
}

.jll-wrap .content .left .position .position-area-content span .position-each-click
	{
	font-size: 14px;
	color: #00C356
}

.jll-wrap .content .left .position .position-type {
	width: 880px;
	height: 20px;
	margin-left: 10px
}

.jll-wrap .content .left .position .position-type .position-type-key {
	width: 70px;
	height: 20px;
	margin-left: 20px;
	float: left;
	color: #4A4A4A
}

.jll-wrap .content .left .position .position-type .position-type-value {
	width: 425px;
	height: 20px;
	color: #999;
	margin-left: 30px;
	float: left
}

.jll-wrap .content .left .position .position-type .position-type-value .position-type-value-each
	{
	width: 85px;
	height: 20px;
	display: block;
	float: left;
	cursor: default;
	position: relative;
	font-size: 14px;
	color: #999
}

.jll-wrap .content .left .position .position-type .position-type-value .position-type-value-each font
	{
	cursor: pointer
}

.jll-wrap .content .left .position .position-type .position-type-value .position-type-value-each:hover
	{
	text-decoration: none
}

.jll-wrap .content .left .position .position-type .position-type-value .position-type-value-each .up
	{
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	top: -1px;
	left: 30px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid #D8D8D8;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent
}

.jll-wrap .content .left .position .position-type .position-type-value .position-type-value-each .down
	{
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	top: 11px;
	left: 30px;
	border-top: 5px solid #D8D8D8;
	border-bottom: 5px solid transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent
}

.jll-wrap .content .left .position .position-type .position-type-value .position-type-value-each .down.active,
	.jll-wrap .content .left .position .position-type .position-type-value .position-type-value-each .down:hover
	{
	border-top: 5px solid #00C356
}

.jll-wrap .content .left .position .position-type .position-type-value .position-type-value-each .up.active,
	.jll-wrap .content .left .position .position-type .position-type-value .position-type-value-each .up:hover
	{
	border-bottom: 5px solid #00C356
}

.jll-wrap .content .left .position .position-type .position-type-value .position-type-value-each font:hover
	{
	color: #00C356
}

.jll-wrap .content .left .position .position-type .position-type-value .position-type-value-each-click
	{
	width: 85px;
	height: 20px;
	float: left;
	cursor: pointer;
	position: relative;
	color: #00C356
}

.jll-wrap .content .left .line {
	width: 840px;
	height: 0;
	margin: 0 auto 20px;
	border-top: 1px solid #EEE
}

.jll-wrap .content .left .list-warp {
	width: 880px;
	padding-bottom: 18px
}

.jll-wrap .content .left .list-warp .list-num {
	width: 640px;
	height: 20px;
	margin: 0 30px;
	color: #4A4A4A;
	font-size: 14px;
	padding: 15px 0 35px
}

.jll-wrap .content .left .list-warp .list-each {
	width: 840px;
	height: 100px;
	margin: 0 20px 25px 30px
}

.jll-wrap .content .left .list-warp .list-each .list-img {
	width: 100px;
	height: 100px;
	float: left;
	cursor: pointer
}

.jll-wrap .content .left .list-warp .list-each .list-img img {
	border-radius: 5px;
	width: 100%;
	height: 100%
}

.jll-wrap .content .left .list-warp .list-each .list-info {
	width: 535px;
	height: 100px;
	margin-left: 30px;
	float: left;
	position: relative
}

.jll-wrap .content .left .list-warp .list-each .list-info .info-top {
	height: 22px;
	margin: 12px 0;
	font-size: 16px;
	color: #4A4A4A
}

.jll-wrap .content .left .list-warp .list-each .list-info .info-top .info-name
	{
	max-width: 180px;
	float: left;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.jll-wrap .content .left .list-warp .list-each .list-info .info-top .info-name a
	{
	font-size: 16px;
	color: #4a4a4a;
	text-decoration: none
}

.jll-wrap .content .left .list-warp .list-each .list-info .info-top .info-name a:hover
	{
	text-decoration: none;
	color: #00C356
}

.jll-wrap .content .left .list-warp .list-each .list-info .info-top .info-old
	{
	width: 80px;
	height: 20px;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	border: 1px solid #FFA630;
	color: #FFA630;
	margin-left: 10px;
	border-radius: 3px;
	float: left
}

.jll-wrap .content .left .list-warp .list-each .list-info .info-top .info-img .JPLListJ,
	.jll-wrap .content .left .list-warp .list-each .list-info .info-top .info-img .JPLListRZ
	{
	width: 35px;
	height: 30px;
	display: inline-block
}

.jll-wrap .content .left .list-warp .list-each .list-info .info-top .info-img .JPLListJ
	{
	background:
		url(http://img.58cdn.com.cn/dist/jxedt/pc/products/jxdetail/images/s.png)
		0 -91px no-repeat;
	background-size: 100%
}

.jll-wrap .content .left .list-warp .list-each .list-info .info-top .info-img .JPLListRZ
	{
	background:
		url(http://img.58cdn.com.cn/dist/jxedt/pc/products/jxdetail/images/s.png)
		0 -57px no-repeat;
	background-size: 100%;
	margin-right: -17px
}

.jll-wrap .content .left .list-warp .list-each .list-info .info-top .info-img img:last-child
	{
	margin-left: 2px;
	width: 15px;
	padding-bottom: 3px
}

.jll-wrap .content .left .list-warp .list-each .list-info .info-top .info-img img:first-child
	{
	width: 16px;
	margin-left: 8px;
	padding-bottom: 3px
}

.jll-wrap .content .left .list-warp .list-each .list-info .info-center {
	height: 17px;
	color: #666;
	margin-bottom: 10px;
	font-size: 12px
}

.jll-wrap .content .left .list-warp .list-each .list-info .info-center span
	{
	display: inline-blok
}

.jll-wrap .content .left .list-warp .list-each .list-info .info-center .info-position
	{
	padding-left: 40px;
	color: #4A4A4A
}

.jll-wrap .content .left .list-warp .list-each .list-info .info-score {
	font-size: 12px;
	color: #999;
	height: 15px;
	line-height: 15px
}

.jll-wrap .content .left .list-warp .list-each .list-info .info-score img
	{
	width: 15px;
	height: 15px;
	vertical-align: middle
}

.jll-wrap .content .left .list-warp .list-each .list-info .info-score span
	{
	position: absolute;
	top: 75px;
	display: inline-block;
	margin-left: 20px;
	color: #999
}

.jll-wrap .content .left .list-warp .list-each .list-prize {
	width: 130px;
	height: 100px;
	float: left
}

.jll-wrap .content .left .list-warp .list-each .list-prize .prize-money
	{
	width: 130px;
	height: 36px;
	color: #FFA630;
	font-weight: 700;
	text-align: center;
	line-height: 36px;
	font-size: 18px;
	margin-top: 4px
}

.jll-wrap .content .left .list-warp .list-each .list-prize .prize-ans {
	width: 130px;
	height: 36px;
	display: block;
	color: #fff;
	background: #00C356;
	font-size: 14px;
	text-align: center;
	line-height: 36px;
	border-radius: 5px;
	margin-top: 4px;
	cursor: pointer
}

.jll-wrap .content .left .list-warp .ad {
	width: 880px;
	height: 100px;
	display: none;
	margin-bottom: 20px;
	cursor: pointer
}

.jll-wrap .content .left .list-warp .ad img {
	width: 100%;
	height: 100%
}

.jll-wrap .content .left .list-warp .page-warp {
	text-align: center
}

.jll-wrap .content .left .list-warp .page-warp .page-item {
	display: inline-block;
	height: 39px;
	margin: 10px auto 0
}

.jll-wrap .content .left .list-warp .page-warp .page-item .active {
	background: #00C356;
	color: #fff;
	border: 1px solid #00C356
}

.jll-wrap .content .left .list-warp .page-warp .page-item a {
	display: block;
	width: 26px;
	height: 26px;
	margin: 0 10px;
	float: left;
	border: 1px solid #EEE;
	color: silver;
	font-size: 14px;
	text-align: center;
	line-height: 26px;
	cursor: pointer
}

.jll-wrap .content .left .list-warp .page-warp .page-item a:hover {
	background: #00C356;
	color: #fff;
	border: 1px solid #00C356
}

.jll-wrap .content .left .list-warp .page-warp .page-item .click-page {
	display: block;
	width: 39px;
	height: 39px;
	margin: 0 10px;
	float: left;
	border: 1px solid silver;
	color: silver;
	font-size: 20px;
	text-align: center;
	line-height: 39px;
	background: #00C356
}

.jll-wrap .content .right {
	width: 300px;
	margin-left: 20px;
	float: left
}

.jll-wrap .content .right .coach-loading {
	width: 300px;
	height: 100px;
	margin-bottom: 10px;
	cursor: pointer
}

.jll-wrap .content .right .coach-loading img {
	width: 100%;
	height: 100%
}

.jll-wrap .content .right .rec-coach {
	width: 300px;
	padding-bottom: 10px;
	background: #fff
}

.jll-wrap .content .right .rec-coach .rec-title {
	width: 300px;
	height: 65px;
	text-align: center;
	line-height: 65px;
	color: #333;
	font-size: 18px
}

.jll-wrap .content .right .rec-coach .rec-title-line {
	margin: -5px 10px 20px;
	border-bottom: 1px solid #EEE
}

.jll-wrap .content .right .rec-coach .rec-each {
	width: 250px;
	height: 80px;
	margin: 15px auto
}

.jll-wrap .content .right .rec-coach .rec-each .rec-img {
	width: 80px;
	height: 80px;
	float: left;
	cursor: pointer
}

.jll-wrap .content .right .rec-coach .rec-each .rec-img img {
	width: 100%;
	height: 100%;
	border-radius: 5px
}

.jll-wrap .content .right .rec-coach .rec-each .rec-img-seat {
	width: 250px;
	height: 80px;
	cursor: pointer
}

.jll-wrap .content .right .rec-coach .rec-each .rec-img-seat img {
	width: 250px;
	height: 80px
}

.jll-wrap .content .right .rec-coach .rec-each .rec-info {
	width: 155px;
	height: 80px;
	margin-left: 10px;
	float: left
}

.jll-wrap .content .right .rec-coach .rec-each .rec-info .rec-top {
	height: 20px;
	margin: 5px 0;
	line-height: 20px;
	font-size: 14px;
	color: #4A4A4A
}

.jll-wrap .content .right .rec-coach .rec-each .rec-info .rec-top .rec-name
	{
	line-height: 20px;
	float: left;
	max-width: 70px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer
}

.jll-wrap .content .right .rec-coach .rec-each .rec-info .rec-top .rec-name a
	{
	font-size: 14px;
	color: #4A4A4A;
	text-decoration: none
}

.jll-wrap .content .right .rec-coach .rec-each .rec-info .rec-top .rec-name a:hover
	{
	text-decoration: none;
	color: #00C356
}

.jll-wrap .content .right .rec-coach .rec-each .rec-info .rec-top .rec-old
	{
	border-radius: 3px;
	width: 70px;
	height: 20px;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	border: 1px solid #FFA630;
	color: #FFA630;
	margin-left: 10px;
	float: left
}

.jll-wrap .content .right .rec-coach .rec-each .rec-info .rec-center {
	height: 20px;
	line-height: 20px;
	color: #666;
	padding-top: 5px;
	font-size: 12px
}

.jll-wrap .content .right .rec-coach .rec-each .rec-info .rec-center span
	{
	display: inline-blok
}

.jll-wrap .cover, .jll-wrap .pop {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none
}

.jll-wrap .content .right .rec-coach .rec-each .rec-info .rec-center .rec-position
	{
	padding-left: 40px;
	color: #4A4A4A
}

.jll-wrap .content .right .rec-coach .rec-each .rec-info .rec-score {
	height: 20px;
	margin-top: 5px
}

.jll-wrap .content .right .rec-coach .rec-each .rec-info .rec-score img
	{
	width: 13px;
	height: 13px;
	vertical-align: middle
}

.jll-wrap .content .right .rec-ad {
	width: 300px;
	height: auto
}

.jll-wrap .content .right .rec-ad img {
	width: 100%;
	height: 100%
}

.jll-wrap .cover {
	background: #000;
	opacity: .4
}

.jll-wrap .pop {
	width: 600px;
	height: 375px;
	margin: 10% auto auto;
	background: #fff;
	font-size: 14px
}

.jll-wrap .pop .bottom-text {
	text-align: center;
	color: #999;
	font-size: 12px;
	margin-top: 12px
}

.jll-wrap .pop input::-webkit-input-placeholder {
	font-size: 14px;
	color: silver
}

.jll-wrap .pop input:-moz-placeholder {
	font-size: 14px;
	color: silver
}

.jll-wrap .pop input::-moz-placeholder {
	font-size: 14px;
	color: silver
}

.jll-wrap .pop input:-ms-input-placeholder {
	font-size: 14px;
	color: silver
}

.jll-wrap .pop .pop-title-div {
	text-align: center;
	font-size: 12px;
	color: #999;
	line-height: 14px;
	padding-top: 12px
}

.jll-wrap .pop .pop-title {
	width: 100%;
	height: 88px;
	text-align: center;
	color: #4A4A4A;
	font-size: 20px;
	line-height: 88px
}

.jll-wrap .pop .pop-name input, .jll-wrap .pop .pop-tel input {
	width: 388px;
	display: block;
	margin: 0 auto;
	border: 1px solid #EEE;
	padding-left: 10px;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent
}

.jll-wrap .pop .pop-name {
	height: 60px
}

.jll-wrap .pop .pop-name input {
	height: 38px;
	border-radius: 3px
}

.jll-wrap .pop .pop-tel {
	height: 60px
}

.jll-wrap .pop .pop-tel input {
	height: 38px;
	border-radius: 3px
}

.jll-wrap .pop .pop-ver {
	width: 600px;
	height: 60px
}

.jll-wrap .pop .pop-ver input {
	width: 208px;
	height: 38px;
	padding-left: 10px;
	margin: 0 20px 0 106px;
	float: left;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	border: 1px solid #EEE;
	border-radius: 3px
}

.jll-wrap .pop .pop-btn, .jll-wrap .pop .pop-ver .ver-btn {
	border-radius: 3px;
	line-height: 40px;
	cursor: pointer;
	text-align: center;
	color: #fff
}

.jll-wrap .pop .pop-ver .ver-btn {
	width: 160px;
	height: 38px;
	float: left;
	background: #00C356;
	font-size: 14px
}

.jll-wrap .pop .pop-ver .ver-btn-settime {
	background: #999;
	color: #fff
}

.jll-wrap .pop .pop-btn {
	width: 392px;
	height: 40px;
	background: #00C356;
	margin: 0 auto
}

.jll-wrap .pop .pop-btn-gray {
	background: #999;
	cursor: default
}

.jll-wrap .pop .close {
	width: 18px;
	height: 18px;
	background: url(../images/cha.png) no-repeat;
	background-size: 18px 18px;
	position: absolute;
	right: 20px;
	top: 20px
}

.jll-wrap .pop .toast {
	text-align: center;
	white-space: nowrap;
	line-height: 43px;
	border-radius: 8px;
	font-size: 16px;
	width: 280px;
	padding: 0 27px;
	color: #fff;
	background: #333;
	opacity: .9;
	position: absolute;
	top: 31%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none
}

.bottom-ad {
	width: 100%;
	height: 160px;
	overflow: hidden
}

.bottom-ad img {
	width: 100%;
	height: 100%
}

.jll-wrap .content .left .position .position-type {
	padding-top: 0;
	margin-bottom: 20px
}

.jll-wrap {
	padding-bottom: 0
}
#paging{
	text-align: center;
}