<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.dsmp.mapper.HomeInfoMapper">
 		
 	<!-- 查询所有广告信息 -->
 	<select id="getAdvertisement" resultMap="AdvResultMap">
 		select * from tb_advertisement a,tb_school s where a.sch_id = s.sch_id and a.adl_id=#{adlId};
 	</select>
 	
 	<resultMap type="com.dsmp.pojo.TbAdvertisement" id="AdvResultMap">
 		<id column="adv_id" jdbcType="INTEGER" property="advId"></id>
 		<result column="adl_id" jdbcType="INTEGER" property="adlId"></result>
 		<result column="adv_path" jdbcType="VARCHAR" property="advPath"></result>
 		<result column="adv_imgPath" jdbcType="VARCHAR" property="advImgpath"></result>
 		<result column="adv_describe" jdbcType="VARCHAR" property="advDescribe"></result>
 		<association property="tbSchool" column="schId" javaType="com.dsmp.pojo.TbSchool">
 			<id column="sch_id" jdbcType="INTEGER" property="schId"></id>
 			<result column="sch_name" jdbcType="VARCHAR" property="schName"></result>
 		</association>
 	</resultMap>
 	
 	<!-- 查询所有公告信息 -->
 	<select id="findNotice" resultMap="NotResultMap">
 		select * from tb_notice where nty_id=#{ntyId} order by not_id desc;
 	</select>
 	
 	<resultMap type="com.dsmp.pojo.TbNotice" id="NotResultMap">
 		<id column="not_id" jdbcType="INTEGER" property="notId"></id>
 		<result column="nty_id" jdbcType="INTEGER" property="ntyId"></result>
 		<result column="not_title" jdbcType="VARCHAR" property="notTitle"></result>
 		<result column="not_content" jdbcType="VARCHAR" property="notContent"></result>
 		<result column="not_time" jdbcType="VARCHAR" property="notTime"></result>
 		<result column="not_path" jdbcType="VARCHAR" property="notPath"></result> 		
 	</resultMap>
 	
 	<!-- 根据公告ID查询公告信息 -->
 	<select id="findNoticeByNotId" resultMap="resultMap">
 		select n.*,t.nty_name from tb_notice n,tb_notice_type t where n.nty_id=t.nty_id and not_id=#{notId};
 	</select>
 	<resultMap type="com.dsmp.pojo.TbNotice" id="resultMap">
 		<id column="not_id" jdbcType="INTEGER" property="notId"></id>
 		<result column="nty_id" jdbcType="INTEGER" property="ntyId"></result>
 		<result column="not_title" jdbcType="VARCHAR" property="notTitle"></result>
 		<result column="not_content" jdbcType="VARCHAR" property="notContent"></result>
 		<result column="not_time" jdbcType="VARCHAR" property="notTime"></result>
 		<result column="not_path" jdbcType="VARCHAR" property="notPath"></result>
 		<association property="tbNoticeType" javaType="com.dsmp.pojo.TbNoticeType">
		<id column="nty_id" property="ntyId" jdbcType="INTEGER" />
	    <result column="nty_name" property="ntyName" jdbcType="VARCHAR" />	  
		</association> 		
 	</resultMap>
 	<!-- 查询所友情链接信息 -->
 	<select id="findHotlink" resultMap="HolResultMap">
 		select * from tb_hotlink;
 	</select>
 	
 	<resultMap type="com.dsmp.pojo.TbHotlink" id="HolResultMap">
 		<id column="hol_id" jdbcType="INTEGER" property="holId"></id>
 		<result column="hol_path" jdbcType="VARCHAR" property="holPath"></result>
 		<result column="hol_imgpath" jdbcType="VARCHAR" property="holImgpath"></result>
 		<result column="hol_title" jdbcType="VARCHAR" property="holTitle"></result>		
 	</resultMap>
 </mapper>