<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dsmp.mapper.TbCoachMapper" >

   	<select id="selectCoach" resultType="com.dsmp.pojo.TbCoach" resultMap="BaseResultMap">
		select * from tb_coach 
	</select>
	
	<select id="belongtocoach" resultType="com.dsmp.pojo.TbStudent" resultMap="studentResultMap">
		select a.coa_id,a.stu_id,a.stu_name,a.stu_account,a.stu_sex,a.stu_address,a.stu_signUpTime,a.stu_verifyStatus,b.* from tb_student a,tb_subject b where a.sub_id=b.sub_id and a.coa_id=#{coaid}
	</select>
	
<!-- 	<resultMap type="com.dsp.pojo.Coach" id="belongtocoach"> -->
<!-- 		<id column="coa_id" property="coa_id"/>		 -->
<!-- 		<collection property="studentlist" ofType="com.dsp.pojo.Student" javaType="java.util.ArrayList" -->
<!-- 		select="selectstudents" column="coa_id"> -->
<!-- 		</collection> -->
<!-- 	</resultMap> -->


  <resultMap id="BaseResultMap" type="com.dsmp.pojo.TbCoach" >
    <id column="coa_id" property="coaId" jdbcType="INTEGER" />
    <result column="rol_id" property="rolId" jdbcType="INTEGER" />
    <result column="sch_id" property="schId" jdbcType="INTEGER" />
    <result column="coa_name" property="coaName" jdbcType="VARCHAR" />
    <result column="coa_account" property="coaAccount" jdbcType="VARCHAR" />
    <result column="coa_password" property="coaPassword" jdbcType="VARCHAR" />
    <result column="coa_sex" property="coaSex" jdbcType="VARCHAR" />
    <result column="coa_birthday" property="coaBirthday" jdbcType="VARCHAR" />
    <result column="coa_idcard" property="coaIdcard" jdbcType="VARCHAR" />
    <result column="coa_headimg" property="coaHeadimg" jdbcType="VARCHAR" />
    <result column="coa_address" property="coaAddress" jdbcType="VARCHAR" />
    <result column="coa_introduction" property="coaIntroduction" jdbcType="VARCHAR" />
    <result column="coa_status" property="coaStatus" jdbcType="VARCHAR" />
    <result column="coa_level" property="coaLevel" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="studentResultMap" type="com.dsmp.pojo.TbStudent" >
    <id column="stu_id" property="stuId" jdbcType="INTEGER" />
    <result column="coa_id" property="coaId" jdbcType="INTEGER" />
    <result column="sch_id" property="schId" jdbcType="INTEGER" />
    <result column="sub_id" property="subId" jdbcType="INTEGER" />
    <result column="stu_name" property="stuName" jdbcType="VARCHAR" />
    <result column="stu_account" property="stuAccount" jdbcType="VARCHAR" />
    <result column="stu_password" property="stuPassword" jdbcType="VARCHAR" />
    <result column="stu_sex" property="stuSex" jdbcType="VARCHAR" />
    <result column="stu_birthday" property="stuBirthday" jdbcType="VARCHAR" />
    <result column="stu_idcard" property="stuIdcard" jdbcType="VARCHAR" />
    <result column="stu_img" property="stuImg" jdbcType="VARCHAR" />
    <result column="stu_headimg" property="stuHeadimg" jdbcType="VARCHAR" />
    <result column="stu_address" property="stuAddress" jdbcType="VARCHAR" />
    <result column="stu_registertime" property="stuRegistertime" jdbcType="TIMESTAMP" />
    <result column="stu_errCount" property="stuErrcount" jdbcType="INTEGER" />
    <result column="stu_errTime" property="stuErrtime" jdbcType="TIMESTAMP" />
    <result column="stu_status" property="stuStatus" jdbcType="VARCHAR" />
    <result column="stu_signUpTime" property="stuSignuptime" jdbcType="TIMESTAMP" />
    <result column="stu_verifyStatus" property="stuVerifystatus" jdbcType="VARCHAR" />
    <association property="tbSubject" column="sub_id" javaType="TbSubject">
    	<id column="sub_id" property="subId" jdbcType="INTEGER" />
    	<result column="sub_name" property="subName" jdbcType="VARCHAR" />
   		<result column="sub_time" property="subTime" jdbcType="INTEGER" />
    </association>
  </resultMap>
</mapper>