<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dsmp.mapper.TbOptionMapper" >
  <resultMap id="BaseResultMap" type="com.dsmp.pojo.TbOption" >
    <id column="opt_id" property="optId" jdbcType="INTEGER" />
    <result column="top_id" property="topId" jdbcType="INTEGER" />
    <result column="opt_option" property="optOption" jdbcType="VARCHAR" />
    <result column="opt_status" property="optStatus" jdbcType="VARCHAR" />
  </resultMap>
  
  
  
  <insert id="insertOption" parameterType="com.dsmp.pojo.TbOption">
 	 insert into tb_option(top_id,opt_option,opt_status) values(#{topId},#{optOption},#{optStatus});
  </insert>
  
</mapper>