<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dsmp.mapper.TbRatingMapper" >
  <resultMap id="BaseResultMap" type="com.dsmp.pojo.TbRating" >
    <id column="rat_id" property="ratId" jdbcType="INTEGER" />
    <result column="coa_id" property="coaId" jdbcType="INTEGER" />
    <result column="sch_id" property="schId" jdbcType="INTEGER" />
    <result column="stu_id" property="stuId" jdbcType="INTEGER" />
    <result column="rat_content" property="ratContent" jdbcType="VARCHAR" />
    <result column="rat_time" property="ratTime" jdbcType="TIMESTAMP" />
    <result column="rat_star" property="ratStar" jdbcType="INTEGER" />
    <result column="rat_type" property="ratType" jdbcType="VARCHAR" />
  </resultMap>
 	<insert id="addCoachRating" parameterType="com.dsmp.pojo.TbRating">
 		insert into tb_rating(coa_id,stu_id,rat_content,rat_time,rat_star,rat_type) values(#{coaId},#{stuId},#{ratContent},now(),#{ratStar},#{ratType})
 	</insert>
 	<insert id="addSchoolRating" parameterType="com.dsmp.pojo.TbRating">
 		insert into tb_rating(sch_id,stu_id,rat_content,rat_time,rat_star,rat_type) values(#{schId},#{stuId},#{ratContent},now(),#{ratStar},#{ratType})
 	</insert>
</mapper>