<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dsmp.mapper.TbRoleMapper" >
  <resultMap id="BaseResultMap" type="com.dsmp.pojo.TbRole" >
    <id column="rol_id" property="rolId" jdbcType="INTEGER" />
    <result column="rol_name" property="rolName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    rol_id, rol_name
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_role
    where rol_id = #{rolId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_role
    where rol_id = #{rolId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.dsmp.pojo.TbRole" >
    insert into tb_role (rol_id, rol_name)
    values (#{rolId,jdbcType=INTEGER}, #{rolName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dsmp.pojo.TbRole" >
    insert into tb_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rolId != null" >
        rol_id,
      </if>
      <if test="rolName != null" >
        rol_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rolId != null" >
        #{rolId,jdbcType=INTEGER},
      </if>
      <if test="rolName != null" >
        #{rolName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
 
  
  <update id="updateByPrimaryKeySelective" parameterType="com.dsmp.pojo.TbRole" >
    update tb_role
    <set >
      <if test="rolName != null" >
        rol_name = #{rolName,jdbcType=VARCHAR},
      </if>
    </set>
    where rol_id = #{rolId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dsmp.pojo.TbRole" >
    update tb_role
    set rol_name = #{rolName,jdbcType=VARCHAR}
    where rol_id = #{rolId,jdbcType=INTEGER}
  </update>
</mapper>