<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dsmp.mapper.TbSchoolMapper" >
  <resultMap id="BaseResultMap" type="com.dsmp.pojo.TbSchool" >
    <id column="sch_id" property="schId" jdbcType="INTEGER" />
    <result column="rol_id" property="rolId" jdbcType="INTEGER" />
    <result column="sch_name" property="schName" jdbcType="VARCHAR" />
    <result column="sch_account" property="schAccount" jdbcType="VARCHAR" />
    <result column="sch_password" property="schPassword" jdbcType="VARCHAR" />
    <result column="sch_address" property="schAddress" jdbcType="VARCHAR" />
    <result column="sch_introduction" property="schIntroduction" jdbcType="VARCHAR" />
    <result column="sch_bossName" property="schBossname" jdbcType="VARCHAR" />
    <result column="sch_registerCapital" property="schRegistercapital" jdbcType="VARCHAR" />
    <result column="sch_creditcode" property="schCreditcode" jdbcType="VARCHAR" />
    <result column="sch_type" property="schType" jdbcType="VARCHAR" />
    <result column="sch_signUpStatus" property="schSignupstatus" jdbcType="VARCHAR" />
    <result column="sch_headimg" property="schHeadimg" jdbcType="VARCHAR" />
    <result column="sch_operativeStatus" property="schOperativestatus" jdbcType="VARCHAR" />
    <result column="sch_charge" property="schCharge" jdbcType="DOUBLE" />
  </resultMap>
  
  <!-- 驾校登录验证 -->
  <select id="getSchool"  resultMap="BaseResultMap">
		select * from tb_school where sch_account = #{schAccount};
  </select>
  <!-- 根据驾校ID查询驾校 -->
  <select id="findSchoolBySchId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select * from tb_school where sch_id = #{schId};
  </select>
  <!-- 查询所有驾校 -->
  <select id="selectAllSchool" resultMap="BaseResultMap" >
    select * from tb_school
  </select>
  <!-- 查询所有允许报名的驾校 -->
  <select id="selectAllSchoolBySignUpStatus" resultMap="BaseResultMap" >
    select * from tb_school where sch_signUpStatus = #{schSignupstatus};
  </select>
  <!-- 驾校入驻信用代码验证 -->
  <select id="getSchoolByCreditcode"  resultMap="BaseResultMap">
		select * from tb_school where sch_creditcode = #{schCreditcode};
  </select>
  
  <!-- 驾校入驻 -->
  <insert id="insertSchoolInfo" parameterType="com.dsmp.pojo.TbSchool" >
    insert into tb_school(rol_id,sch_name,sch_account,sch_password,sch_address,sch_introduction,sch_bossName,
    sch_registerCapital,sch_creditcode,sch_type,sch_headimg,sch_charge) values(#{rolId},#{schName},
    #{schAccount}, #{schPassword}, #{schAddress}, #{schIntroduction}, #{schBossname}, #{schRegistercapital},
    #{schCreditcode}, #{schType}, #{schHeadimg}, #{schCharge});
  </insert>
  
  
  <!-- 查询驾校排行 -->
  <select id="getSchoolRanking" resultMap="schoolRankingMap">
  	SELECT s.sch_name,COUNT(r.rat_star) as commentnum,SUM(r.rat_star) as starnum,AVG(r.rat_star) as staravg FROM 
 tb_school s,tb_rating r where  r.sch_id = s.sch_id GROUP BY r.sch_id ORDER BY staravg DESC;
  </select>
  <resultMap id="schoolRankingMap" type="com.dsmp.pojo.Count" >
  	<result column="sch_name" property="name" jdbcType="VARCHAR" />
    <result column="commentnum" property="data" jdbcType="VARCHAR" />
    <result column="starnum" property="phone" jdbcType="VARCHAR" />
    <result column="staravg" property="starAvg" jdbcType="DOUBLE" />
  </resultMap>
  
  
  
  <resultMap type="com.dsmp.pojo.TbExamschedule" id="school_examSchedule">
		<id column="exs_id" property="exsId" jdbcType="INTEGER"/>
  		<result column="sch_id" property="schId" jdbcType="INTEGER" />
  		<result column="sub_id" property="subId" jdbcType="INTEGER" />
    	<result column="exs_time" property="exsTime" jdbcType="VARCHAR" />
   		<result column="exs_address" property="exsAddress" jdbcType="VARCHAR" />
    	<result column="exs_signUpNum" property="exsSignupnum" jdbcType="INTEGER" />
    	<result column="exs_endTime" property="exsEndtime" jdbcType="VARCHAR" />
    	<result column="exs_totalNum" property="exsTotalnum" jdbcType="INTEGER" />
    	<association property="tbSubject" column="sub_id" javaType="TbSubject">
    		<id column="sub_id" property="subId" jdbcType="INTEGER" />
    		<result column="sub_name" property="subName" jdbcType="VARCHAR" />
    	</association>
	</resultMap>
  
 	<select id="selectExamschedule"  resultMap="school_examSchedule">
		select a.*,b.sub_name from tb_examschedule a,tb_subject b 
		<where>
			<if test="param2!=null">
				and b.sub_id=#{param2}
			</if>
			 and a.sch_id=#{param1} and b.sub_id = a.sub_id order by exs_time DESC;
		</where>
	</select>
	
	<insert id="addExamschedule" parameterType="TbExamschedule">
		INSERT INTO tb_examschedule (sch_id, sub_id, exs_time, exs_address, exs_signUpNum,exs_endTime, exs_totalNum) 
		VALUES (#{schId},#{subId}, #{exsTime}, #{exsAddress},0, #{exsEndtime},#{exsTotalnum});
	</insert>
  
  <resultMap id="school_score" type="com.dsmp.pojo.TbSubjectscore" >
    <id column="sus_id" property="susId" jdbcType="INTEGER" />
    <result column="sub_id" property="subId" jdbcType="INTEGER" />
    <result column="stu_id" property="stuId" jdbcType="INTEGER" />
    <result column="sus_score" property="susScore" jdbcType="INTEGER" />
  </resultMap>
  
  	<!-- 插入考试成绩 -->
  <insert id="addScore" parameterType="TbSubjectscore">
	 insert into tb_subjectscore (sub_id,stu_id,sus_score) values(#{subId},#{stuId},#{susScore})	  
  </insert>
  
  <!-- 更新考试成绩 -->
  <insert id="updateScore" parameterType="TbSubjectscore">
	 update tb_subjectscore set sus_score = #{susScore} where sus_id = #{susId}	  
  </insert>
  
</mapper>