<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dsmp.mapper.TbStudentMapper" >
  <resultMap id="BaseResultMap" type="com.dsmp.pojo.TbStudent" >
    <id column="stu_id" property="stuId" jdbcType="INTEGER" />
    <result column="coa_id" property="coaId" jdbcType="INTEGER" />
    <result column="sch_id" property="schId" jdbcType="INTEGER" />
    <result column="sub_id" property="subId" jdbcType="INTEGER" />
    <result column="stu_name" property="stuName" jdbcType="VARCHAR" />
    <result column="stu_account" property="stuAccount" jdbcType="VARCHAR" />
    <result column="stu_password" property="stuPassword" jdbcType="VARCHAR" />
    <result column="stu_sex" property="stuSex" jdbcType="VARCHAR" />
    <result column="stu_birthday" property="stuBirthday" jdbcType="VARCHAR" />
    <result column="stu_idcard" property="stuIdcard" jdbcType="VARCHAR" />
    <result column="stu_img" property="stuImg" jdbcType="VARCHAR" />
    <result column="stu_headimg" property="stuHeadimg" jdbcType="VARCHAR" />
    <result column="stu_address" property="stuAddress" jdbcType="VARCHAR" />
    <result column="stu_registertime" property="stuRegistertime" jdbcType="TIMESTAMP" />
    <result column="stu_errCount" property="stuErrcount" jdbcType="INTEGER" />
    <result column="stu_errTime" property="stuErrtime" jdbcType="TIMESTAMP" />
    <result column="stu_status" property="stuStatus" jdbcType="VARCHAR" />
    <result column="stu_signUpTime" property="stuSignuptime" jdbcType="TIMESTAMP" />
    <result column="stu_verifyStatus" property="stuVerifystatus" jdbcType="VARCHAR" />
     <result column="stu_bookingstate" property="stuBookingstate" jdbcType="VARCHAR" />
<!--     <result column="stu_subjectStatus" property="stuSubjectstatus" jdbcType="VARCHAR" /> -->
    <result column="stu_verifyStatus" property="stuVerifystatus" jdbcType="VARCHAR" />
  </resultMap>

  
  <resultMap id="searchStudent" type="com.dsmp.pojo.TbStudent" >
    <id column="stu_id" property="stuId" jdbcType="INTEGER" />
    <result column="coa_id" property="coaId" jdbcType="INTEGER" />
    <result column="sch_id" property="schId" jdbcType="INTEGER" />
    <result column="sub_id" property="subId" jdbcType="INTEGER" />
    <result column="stu_name" property="stuName" jdbcType="VARCHAR" />
    <result column="stu_account" property="stuAccount" jdbcType="VARCHAR" />
    <result column="stu_password" property="stuPassword" jdbcType="VARCHAR" />
    <result column="stu_sex" property="stuSex" jdbcType="VARCHAR" />
    <result column="stu_birthday" property="stuBirthday" jdbcType="VARCHAR" />
    <result column="stu_idcard" property="stuIdcard" jdbcType="VARCHAR" />
    <result column="stu_img" property="stuImg" jdbcType="VARCHAR" />
    <result column="stu_headimg" property="stuHeadimg" jdbcType="VARCHAR" />
    <result column="stu_address" property="stuAddress" jdbcType="VARCHAR" />
    <result column="stu_registertime" property="stuRegistertime" jdbcType="TIMESTAMP" />
    <result column="stu_errCount" property="stuErrcount" jdbcType="INTEGER" />
    <result column="stu_errTime" property="stuErrtime" jdbcType="TIMESTAMP" />
    <result column="stu_status" property="stuStatus" jdbcType="VARCHAR" />
    <result column="stu_signUpTime" property="stuSignuptime" jdbcType="VARCHAR" />
    <result column="stu_verifyStatus" property="stuVerifystatus" jdbcType="VARCHAR" />
     <result column="stu_bookingstate" property="stuBookingstate" jdbcType="VARCHAR" />
<!--     <result column="stu_subjectStatus" property="stuSubjectstatus" jdbcType="VARCHAR" /> -->
    <association property="tbCoach" javaType="com.dsmp.pojo.TbCoach">
		<id column="coa_id" property="coaId" jdbcType="INTEGER" />
	    <result column="sch_id" property="schId" jdbcType="INTEGER" />
	    <result column="coa_name" property="coaName" jdbcType="VARCHAR" />
	    <result column="coa_account" property="coaAccount" jdbcType="VARCHAR" />
	    <result column="coa_sex" property="coaSex" jdbcType="VARCHAR" />
	    <result column="coa_introduction" property="coaIntroduction" jdbcType="VARCHAR" />	    
	</association>
	<association property="tbSchool" javaType="com.dsmp.pojo.TbSchool">
		<id column="sch_id" property="schId" jdbcType="INTEGER" />
	    <result column="sch_name" property="schName" jdbcType="VARCHAR" />
	    <result column="sch_account" property="schAccount" jdbcType="VARCHAR" />
	</association>
	<association property="tbSubject" javaType="com.dsmp.pojo.TbSubject">
		<id jdbcType="INTEGER" property="subId" column="sub_id"/>
		<result jdbcType="VARCHAR" property="subName" column="sub_name"/>
		<result jdbcType="DOUBLE" property="subTime" column="sub_time"/>
	</association>
  </resultMap>
  
  <resultMap id="CountStudentMap" type="com.dsmp.pojo.Count" >
  	<result column="name" property="name" jdbcType="VARCHAR" />
    <result column="num" property="data" jdbcType="VARCHAR" />
    <result column="sch_account" property="phone" jdbcType="VARCHAR" />
  </resultMap>

  <select id="searchAllstudent" resultMap="searchStudent">
		select s.*,sc.*,c.*,su.* from tb_student s left join tb_school sc on s.sch_id=sc.sch_id 
		left join tb_coach c on s.coa_id= c.coa_id left join tb_subject su on s.sub_id=su.sub_id 
		<where>
			<if test="name!=null">stu_name like "%"#{name}"%"</if>
			<if test="account!=null">and stu_account like "%"#{account}"%"</if>
			<if test="beginTime!=null">and stu_signUpTime&gt;#{beginTime}</if><!-- 大于号 -->
			<if test="endTime!=null">and stu_signUpTime&lt;#{endTime}</if><!-- 小于号 -->
			and s.sch_id=#{schId}
		</where>
	</select>
  
  
 <!--  根据驾校查询近半年每个月报名人数 -->
  <select id="countStudentBySchool" resultMap="CountStudentMap"  >
    select c.month as name,num from
	(SELECT 
	date_format(@lastDay := last_day( date_add(@lastDay,interval 1 month ) ) ,'%Y-%m'  ) month
	from 
	(SELECT @lastDay := date_add(curdate(),interval -7 month) from tb_student  limit 6) a) c 
	LEFT JOIN(select stu_signUpTime ,count(*) as num from tb_student where sch_id=#{param1}  GROUP BY DATE_FORMAT(stu_signUpTime , '%Y-%m' )) t ON DATE_FORMAT(t.stu_signUpTime , '%Y-%m' )= c.month order by c.month
  </select>
  
  <!-- 查询前六个月日期 -->
  <select id="searchDate" resultMap="CountStudentMap"  >
	SELECT 
	date_format(@lastDay := last_day( date_add(@lastDay,interval 1 month ) ) ,'%Y-%m'  ) name
	from 
	(SELECT @lastDay := date_add(curdate(),interval -7 month) from tb_student  limit 6) a
  </select>
  
  <!-- 查询某一个月有人报名的驾校的人数 -->
  <select id="countStudentByDate" resultMap="CountStudentMap"  >
	select a.sch_name name,a.sch_account, count(a.sch_name) as num from (
	select sc.sch_name as sch_name,sc.sch_account as sch_account from tb_student st,tb_school sc 
	where st.sch_id= sc.sch_id and DATE_FORMAT(st.stu_signUpTime , '%Y-%m' )=#{param1} ) a GROUP BY a.sch_name
  </select>
  
 <!--  查询某一个月所有的驾校的报名人数，没有人的置零 -->
 <select id="countAllStudentByDate" resultMap="CountStudentMap">
 	select c.sch_name name,b.num from tb_school c left join 
(select  count(a.sch_id) as num,a.sch_id from (
	select sc.sch_id, sc.sch_name as sch_name,sc.sch_account as sch_account from tb_student st,tb_school sc 
	where st.sch_id= sc.sch_id and DATE_FORMAT(st.stu_signUpTime , '%Y-%m' )=#{param1}) a GROUP BY a.sch_name) b
on c.sch_id=b.sch_id
 </select>
 
  <!-- 查询某近30天某个驾校驾校报名人数 -->
  <select id="countStudentByMonth" resultMap="CountStudentMap"  >
	select a.day as name,t.num from
	(select date_add(curdate(), interval(cast(help_topic_id as signed integer) - 30) day) day
	from mysql.help_topic
	where help_topic_id  &lt; day(last_day(curdate()))
	order by help_topic_id)a
	LEFT JOIN
	(select stu_signUpTime ,count(*) as num from tb_student where sch_id=#{param1}  GROUP BY DATE_FORMAT(stu_signUpTime , '%Y-%m-%d' )) t
 	ON DATE_FORMAT(t.stu_signUpTime , '%Y-%m-%d' )= a.day order by a.day
  </select>

  <!-- 	查询教练底下处于科目二和三的学员 -->
  <select id="selectStudentByCoachIdAndSubject" resultMap="searchStudent"  >
  	select stu.stu_id,stu.sub_id,stu.stu_name,sub.* from tb_student stu,tb_subject sub where stu.coa_id = #{param1} and stu.sub_id != 1 and stu.sub_id != 4 and stu.sub_id = sub.sub_id
  </select>
  
  <select id="findStudentImgByStuId" resultType="java.lang.String">
  	select stu_img from tb_student where stu_id = #{param1}
  </select>
  
  <!-- 用户登录 -->
  <select id="findStudentByAccountPwd" parameterType="com.dsmp.pojo.TbStudent" resultMap="BaseResultMap">
 	select * from tb_student where stu_account=#{stuAccount};
  </select>
  <!-- 记录用户输错次数 -->
  <update id="updateStudent" parameterType="com.dsmp.pojo.TbStudent">
    update tb_student set stu_errCount = #{stuErrcount},stu_errTime = #{stuErrtime},stu_status=#{stuStatus} where stu_account=#{stuAccount};
  </update>
  <!-- 学员注册 -->
  <insert id="insertStudent" parameterType="com.dsmp.pojo.TbStudent" >
    insert into tb_student(stu_account,stu_password,stu_status) values(#{stuAccount},#{stuPassword},#{stuStatus});
  </insert>
  <!-- 学员忘记密码找回 -->
  <update id="updateStudentPwd" parameterType="com.dsmp.pojo.TbStudent">
    update tb_student set stu_password = #{stuPassword} where stu_account=#{stuAccount};
  </update>
   <!-- 学员报名驾校信息录入 -->
  <update id="updateStudentInfo" parameterType="com.dsmp.pojo.TbStudent">
    update tb_student set coa_id = #{coaId},sch_id = #{schId},sub_id = #{subId},
    stu_name = #{stuName},stu_sex = #{stuSex},stu_idCard = #{stuIdcard},
    stu_img = #{stuImg},stu_address = #{stuAddress},stu_errCount = #{stuErrcount},
    stu_signUpTime=now(),stu_verifyStatus=#{stuVerifystatus} where stu_account=#{stuAccount};
  </update>
	<!-- ren start -->
	<!-- 修改学员状态 -->
	<update id="changeStudentState">
		update tb_student set stu_status=#{param2} where stu_id=#{param1}
	</update>
	
	<!-- 修改学员科目状态 -->
	<update id="updateSubjectStatus" >
		update tb_student set stu_bookingstate=#{param2} where stu_id=#{param1}
	</update>
	<!-- 修改学员科目状态和科目id（科一通过了） -->
	<update id="updateSubjectStatusAndSubId" >
		update tb_student set stu_bookingstate=#{param2},sub_id=#{param3} where stu_id=#{param1}
	</update>
	
	<select id="findStuById" resultMap="BaseResultMap">
		select * from tb_student where stu_id=#{param};
	</select>
	<!-- ren end -->
	
	<!-- 添加学员 -->
	<insert id="addStudent" parameterType="TbStudent" >
		INSERT INTO tb_student(coa_id,sch_id,sub_id,stu_name,stu_account,stu_password,stu_sex,stu_birthday,stu_idcard,stu_img,stu_address,stu_status,stu_signUpTime,stu_verifyStatus,stu_bookingstate) 
		VALUES(#{coaId},#{schId},1,#{stuName},#{stuAccount},#{stuPassword},#{stuSex},#{stuBirthday},#{stuIdcard},#{stuImg},#{stuAddress},#{stuStatus},NOW(),#{stuVerifystatus},#{stuBookingstate});
	</insert>
	
	<!-- 审核学员 -->
	<update id="checkStudent" parameterType="TbStudent">
		update tb_student set stu_verifyStatus=#{stuVerifystatus} 
		<if test="coaId!=null">,coa_id = #{coaId}</if>
		where stu_id=#{stuId}
	</update>
	
</mapper>