<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dsmp.mapper.TbStudyrecordMapper" >
  <resultMap id="BaseResultMap" type="com.dsmp.pojo.TbStudyrecord" >
    <id column="str_id" property="strId" jdbcType="INTEGER" />
    <result column="stu_id" property="stuId" jdbcType="INTEGER" />
    <result column="sub_id" property="subId" jdbcType="INTEGER" />
    <result column="str_time" property="strTime" jdbcType="DOUBLE" />
    <result column="str_beginTime" property="strBegintime" jdbcType="TIMESTAMP" />
    <result column="str_endTime" property="strEndtime" jdbcType="TIMESTAMP" />
    <result column="str_state" property="strState" jdbcType="VARCHAR" />
    <association property="tbStudent" javaType="com.dsmp.pojo.TbStudent"><!--  column="stu_id" -->
    	<id column="stu_id" property="stuId" jdbcType="INTEGER" />
	    <result column="coa_id" property="coaId" jdbcType="INTEGER" />
	    <result column="sch_id" property="schId" jdbcType="INTEGER" />
	    <result column="sub_id" property="subId" jdbcType="INTEGER" />
	    <result column="stu_name" property="stuName" jdbcType="VARCHAR" />
	    <result column="stu_account" property="stuAccount" jdbcType="VARCHAR" />
	    <result column="stu_password" property="stuPassword" jdbcType="VARCHAR" />
	    <result column="stu_sex" property="stuSex" jdbcType="VARCHAR" />
	    <result column="stu_birthday" property="stuBirthday" jdbcType="VARCHAR" />
	    <result column="stu_idcard" property="stuIdcard" jdbcType="VARCHAR" />
	    <result column="stu_img" property="stuImg" jdbcType="VARCHAR" />
	    <result column="stu_headimg" property="stuHeadimg" jdbcType="VARCHAR" />
	    <result column="stu_address" property="stuAddress" jdbcType="VARCHAR" />
	    <result column="stu_registertime" property="stuRegistertime" jdbcType="TIMESTAMP" />
	    <result column="stu_errCount" property="stuErrcount" jdbcType="INTEGER" />
	    <result column="stu_errTime" property="stuErrtime" jdbcType="TIMESTAMP" />
	    <result column="stu_status" property="stuStatus" jdbcType="VARCHAR" />
	    <result column="stu_signUpTime" property="stuSignuptime" jdbcType="TIMESTAMP" />
	    <result column="stu_verifyStatus" property="stuVerifystatus" jdbcType="VARCHAR" />
	     <result column="stu_bookingstate" property="stuBookingstate" jdbcType="VARCHAR" />
    </association>
	<association property="tbSubject" javaType="com.dsmp.pojo.TbSubject">    	  
		    <id column="sub_id" property="subId" jdbcType="INTEGER" />
		    <result column="sub_name" property="subName" jdbcType="VARCHAR" />
		    <result column="sub_time" property="subTime" jdbcType="DOUBLE" />
	</association>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    str_id, stu_id, sub_id, str_time, str_beginTime, str_endTime, str_state
  </sql>
 
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_studyrecord
    where str_id = #{strId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_studyrecord
    where str_id = #{strId,jdbcType=INTEGER}
  </delete>
 
  <insert id="insert" parameterType="com.dsmp.pojo.TbStudyrecord" >
    insert into tb_studyrecord (str_id, stu_id, sub_id, 
      str_time, str_beginTime, str_endTime, 
      str_state)
    values (#{strId,jdbcType=INTEGER}, #{stuId,jdbcType=INTEGER}, #{subId,jdbcType=INTEGER}, 
      #{strTime,jdbcType=DOUBLE}, #{strBegintime,jdbcType=TIMESTAMP}, #{strEndtime,jdbcType=TIMESTAMP}, 
      #{strState,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dsmp.pojo.TbStudyrecord" >
    insert into tb_studyrecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="strId != null" >
        str_id,
      </if>
      <if test="stuId != null" >
        stu_id,
      </if>
      <if test="subId != null" >
        sub_id,
      </if>
      <if test="strTime != null" >
        str_time,
      </if>
      <if test="strBegintime != null" >
        str_beginTime,
      </if>
      <if test="strEndtime != null" >
        str_endTime,
      </if>
      <if test="strState != null" >
        str_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="strId != null" >
        #{strId,jdbcType=INTEGER},
      </if>
      <if test="stuId != null" >
        #{stuId,jdbcType=INTEGER},
      </if>
      <if test="subId != null" >
        #{subId,jdbcType=INTEGER},
      </if>
      <if test="strTime != null" >
        #{strTime,jdbcType=DOUBLE},
      </if>
      <if test="strBegintime != null" >
        #{strBegintime,jdbcType=TIMESTAMP},
      </if>
      <if test="strEndtime != null" >
        #{strEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="strState != null" >
        #{strState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.dsmp.pojo.TbStudyrecord" >
    update tb_studyrecord
    <set >
      <if test="stuId != null" >
        stu_id = #{stuId,jdbcType=INTEGER},
      </if>
      <if test="subId != null" >
        sub_id = #{subId,jdbcType=INTEGER},
      </if>
      <if test="strTime != null" >
        str_time = #{strTime,jdbcType=DOUBLE},
      </if>
      <if test="strBegintime != null" >
        str_beginTime = #{strBegintime,jdbcType=TIMESTAMP},
      </if>
      <if test="strEndtime != null" >
        str_endTime = #{strEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="strState != null" >
        str_state = #{strState,jdbcType=VARCHAR},
      </if>
    </set>
    where str_id = #{strId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dsmp.pojo.TbStudyrecord" >
    update tb_studyrecord
    set stu_id = #{stuId,jdbcType=INTEGER},
      sub_id = #{subId,jdbcType=INTEGER},
      str_time = #{strTime,jdbcType=DOUBLE},
      str_beginTime = #{strBegintime,jdbcType=TIMESTAMP},
      str_endTime = #{strEndtime,jdbcType=TIMESTAMP},
      str_state = #{strState,jdbcType=VARCHAR}
    where str_id = #{strId,jdbcType=INTEGER}
  </update>
 <!--  查询某学员该阶段已学时长 -->
  <select id="countTimeByStuIdAndSubject" resultType="java.lang.Double">
    SELECT SUM(str_time)as sum from tb_studyrecord where stu_id=#{param1} and sub_id = #{param2} 
  </select>
  <!-- zdcstart -->
  <!--  查询某学员该阶段当天的学习记录为判断此次能否打卡 -->
  <select id="selectNowDayRecord" resultMap="BaseResultMap">
    select * from tb_studyrecord  where to_days(str_beginTime)=to_days(now())and stu_id=#{param1} and sub_id=#{param2}
 	order by str_id desc
  </select>
<!--   插入该学员学习记录 -->
  <insert id="insertStudyRecord" parameterType="com.dsmp.pojo.TbStudyrecord" >
    insert into tb_studyrecord ( stu_id, sub_id)
    values (#{param1},#{param2})
  </insert>
  <!--   更新学习记录，无效的记录 -->
  <update id="updatefalse" parameterType="com.dsmp.pojo.TbStudyrecord" >
  	update tb_studyrecord set str_endTime=now(),str_state = 'false' where str_id = #{param1}
  </update>
  
   <!--   更新学习记录，有效记录，正常时长或超时 -->
  <update id="updateNormal" parameterType="com.dsmp.pojo.TbStudyrecord" >
  	update tb_studyrecord set str_endTime=now(),str_time=#{param2} where str_id = #{param1}
  </update>
  <!-- zdcEnd -->
  
  <!-- ren start -->
 <!-- 查询科目某学员的学习时长（片段） -->
 <select id="findTimeLength" resultType="java.lang.Integer">
<!--   TIME_TO_SEC(end_time) -TIME_TO_SEC(start_time) -->
  	SELECT (TIME_TO_SEC(str_endTime)-TIME_TO_SEC(str_beginTime)) FROM tb_studyrecord where str_beginTime=(select max(str_beginTime) as str_beginTime from tb_studyRecord where stu_id=#{stuId} and sub_id=#{subId})	
  </select>
  <!-- 查询科目某学员的当前总学习时长 -->
  <select id="sumTimeLength" resultType="java.lang.Integer">
<!--   IFNULL( SUM(room_capacity),0) 如果查出null则为0，如果非空则正常查 -->
  		select IFNULL(sum(str_time),0) from tb_studyrecord 
  		where stu_id=#{stuId} and sub_id=#{subId}
  </select>
  <select id="findStudyRecord" resultMap="BaseResultMap">
  		select * from tb_studyRecord str,tb_student stu,tb_subject sub where stu.stu_id=str.stu_id and sub.sub_id=str.sub_id and stu.stu_id=#{param1} and sub.sub_name=#{param2}
  </select>
    <!-- 插入开始学习时间 -->
  <insert id="addStudyBeginTime">
  	insert into tb_studyRecord(stu_id,sub_id,str_time,str_beginTime) values(#{stuId},#{subId},0,now())
  </insert>
  <!-- 插入结束学习时间 -->
  <update id="addStudyEndTime">
  	update tb_studyRecord sr1 set str_endTime=now() where stu_id=#{stuId} and sub_id=#{subId} and str_beginTime=(select t.str_beginTime from (select max(str_beginTime) as str_beginTime from tb_studyRecord sr2 where stu_id=#{stuId} and sub_id=#{subId})t)
  </update>
  	  <!-- 插入科目某学员的学习时长（片段） -->
  <update id="addTimeLength">
  	update tb_studyRecord set str_time=#{studyLength} where stu_id=#{stuId} and sub_id=#{subId} and str_beginTime=(select t.str_beginTime from (select max(str_beginTime) as str_beginTime from tb_studyRecord where stu_id=#{stuId} and sub_id=#{subId})t)
  </update> 
  
   <!-- ren end -->
</mapper>